<%= form_with(model: sapat, local: true) do |form| %>
  <% if sapat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sapat.errors.count, "error") %> prohibited this sapat from being saved:</h2>

      <ul>
      <% sapat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :sapat_name %>
  </div>

  <div class="field">
    <%= form.label :pass %>
    <%= form.text_field :pass, id: :sapat_pass %>
  </div>

  <div class="field">
    <%= form.label :age=integer %>
    <%= form.text_field :age=integer, id: :sapat_age=integer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
