<p id="notice"><%= notice %></p>

<h1>Sapats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pass</th>
      <th>Age=integer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sapats.each do |sapat| %>
      <tr>
        <td><%= sapat.name %></td>
        <td><%= sapat.pass %></td>
        <td><%= sapat.age=integer %></td>
        <td><%= link_to 'Show', sapat %></td>
        <td><%= link_to 'Edit', edit_sapat_path(sapat) %></td>
        <td><%= link_to 'Destroy', sapat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sapat', new_sapat_path %>
