<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sapat.name %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @sapat.pass %>
</p>

<p>
  <strong>Age=integer:</strong>
  <%= @sapat.age=integer %>
</p>

<%= link_to 'Edit', edit_sapat_path(@sapat) %> |
<%= link_to 'Back', sapats_path %>
